@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  overflow-x: hidden; }
  body a {
    text-decoration: none; }

.top-notification {
  filter: alpha(opacity=95);
  opacity: 0.95;
  padding: 160px 100px 0 32px;
  z-index: 2000;
  height: auto; }

.layout-wrapper .layout-topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 58px;
  background-color: #ffdb00;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3); }
  .layout-wrapper .layout-topbar .logo-container {
    margin-left: 32px;
    margin-top: 12px;
    display: inline-block; }
    .layout-wrapper .layout-topbar .logo-container img {
      width: 327px;
      height: 33px;
      border: 0 none; }
  .layout-wrapper .layout-topbar .layout-topbar-menu {
    padding: 0;
    list-style: none;
    position: absolute;
    right: 25px;
    top: 0;
    margin: 0; }
    .layout-wrapper .layout-topbar .layout-topbar-menu li {
      display: inline-block; }
      .layout-wrapper .layout-topbar .layout-topbar-menu li > a {
        padding: 0 28px;
        height: 58px;
        line-height: 58px;
        display: block;
        font-size: 16px;
        color: #e30613; }
      .layout-wrapper .layout-topbar .layout-topbar-menu li .themes-overlay {
        width: 200px;
        max-height: 0;
        overflow-y: auto;
        background-color: #ffffff;
        z-index: 999;
        position: absolute;
        top: 58px;
        padding: 0;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        margin-left: -60px;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
        .layout-wrapper .layout-topbar .layout-topbar-menu li .themes-overlay .themes-overlay-header {
          background-image: -moz-linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
          /* ff3.6+ */
          background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1b81d7), color-stop(100%, #1f4869));
          /* safari4+,chrome */
          background-image: -webkit-linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
          /* safari5.1+,chrome10+ */
          background-image: -o-linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
          /* opera 11.10+ */
          background-image: -ms-linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
          /* ie10+ */
          background-image: linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
          /* w3c */
          filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#1b81d7', startColorstr='#1f4869',GradientType=1 );
          /* ie6-9 */
          color: #ffffff;
          padding: 8px 14px;
          font-weight: bold; }
        .layout-wrapper .layout-topbar .layout-topbar-menu li .themes-overlay a {
          display: block;
          padding: 8px 14px;
          border-bottom: solid 1px #d7dadd;
          text-align: left;
          color: #404c51;
          overflow: hidden; }
          .layout-wrapper .layout-topbar .layout-topbar-menu li .themes-overlay a img {
            height: 24px;
            width: auto;
            margin-right: 7px;
            vertical-align: middle;
            border: 0 none; }
          .layout-wrapper .layout-topbar .layout-topbar-menu li .themes-overlay a .ui-theme {
            margin-right: 7px;
            vertical-align: middle; }
          .layout-wrapper .layout-topbar .layout-topbar-menu li .themes-overlay a span {
            display: inline-block; }
          .layout-wrapper .layout-topbar .layout-topbar-menu li .themes-overlay a:hover {
            background-color: #EFF3F6; }
          .layout-wrapper .layout-topbar .layout-topbar-menu li .themes-overlay a i {
            font-size: 21px;
            text-align: center;
            vertical-align: middle;
            width: 26px;
            margin-right: 7px; }
      .layout-wrapper .layout-topbar .layout-topbar-menu li:hover {
        background-color: #ffaf1a; }
        .layout-wrapper .layout-topbar .layout-topbar-menu li:hover .themes-overlay {
          max-height: 400px; }
.layout-wrapper .layout-content {
  margin-left: 0px;
  padding: 58px 0 0 0; }
  .layout-wrapper .layout-content .homepage h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 1em; }
  .layout-wrapper .layout-content .homepage p {
    margin: 1em;
    line-height: 1.5em; }
  .layout-wrapper .layout-content .homepage .introduction {
    background: url("#{resource['main:images/bg-introduction.png']}");
    padding: 64px;
    background-size: cover;
    color: #ffffff; }
    .layout-wrapper .layout-content .homepage .introduction .introduction-header h1 {
      font-size: 28px;
      font-weight: 700;
      margin: 14px 0; }
    .layout-wrapper .layout-content .homepage .introduction .introduction-header p {
      font-size: 24px;
      margin: 0 0 42px 0; }
    .layout-wrapper .layout-content .homepage .introduction .ui-button {
      text-align: center;
      background: none;
      background-color: #40B6EA;
      border: 0;
      margin-right: 21px;
      -moz-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      text-shadow: none;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal; }
      .layout-wrapper .layout-content .homepage .introduction .ui-button span {
        font-weight: normal;
        text-shadow: none !important; }
      .layout-wrapper .layout-content .homepage .introduction .ui-button .ui-button-text {
        padding: 14px 16px 14px 48px;
        font-size: 18px;
        color: #22495b; }
      .layout-wrapper .layout-content .homepage .introduction .ui-button .ui-icon {
        color: #22495b; }
      .layout-wrapper .layout-content .homepage .introduction .ui-button:hover {
        background-color: #3392bd; }
      .layout-wrapper .layout-content .homepage .introduction .ui-button.secondary {
        background-color: #FBD17B;
        margin-right: 21px;
        border-color: #FBD17B; }
        .layout-wrapper .layout-content .homepage .introduction .ui-button.secondary .ui-button-text {
          color: #b27800; }
        .layout-wrapper .layout-content .homepage .introduction .ui-button.secondary .ui-icon {
          color: #b27800; }
        .layout-wrapper .layout-content .homepage .introduction .ui-button.secondary:hover {
          background-color: #e1bc6e; }
      .layout-wrapper .layout-content .homepage .introduction .ui-button .ui-icon {
        width: 21px;
        height: auto;
        font-size: 21px;
        margin-top: -11px;
        margin-left: 9px; }
  .layout-wrapper .layout-content .layout-error {
    background: url("#{resource['main:images/circuit.jpg']}");
    width: auto;
    height: 800px;
    background-size: cover; }
    .layout-wrapper .layout-content .layout-error .layout-error-message-box {
      background-image: -moz-linear-gradient(280deg, #1b81d7 0%, #1f4869 100%);
      /* ff3.6+ */
      background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1b81d7), color-stop(100%, #1f4869));
      /* safari4+,chrome */
      background-image: -webkit-linear-gradient(280deg, #1b81d7 0%, #1f4869 100%);
      /* safari5.1+,chrome10+ */
      background-image: -o-linear-gradient(280deg, #1b81d7 0%, #1f4869 100%);
      /* opera 11.10+ */
      background-image: -ms-linear-gradient(280deg, #1b81d7 0%, #1f4869 100%);
      /* ie10+ */
      background-image: linear-gradient(280deg, #1b81d7 0%, #1f4869 100%);
      /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#1b81d7', startColorstr='#1f4869',GradientType=1 );
      /* ie6-9 */
      /* TODO: Richtige Höhe finden. Original=height: 203px;*/
      height: 203px;
      padding: 8px; }
      .layout-wrapper .layout-content .layout-error .layout-error-message-box span {
        color: #ffffff;
        padding: 12px;
        font-size: 16px;
        display: block; }
        .layout-wrapper .layout-content .layout-error .layout-error-message-box span.layout-error-name {
          font-size: 28px; }
      .layout-wrapper .layout-content .layout-error .layout-error-message-box .ui-button {
        border-radius: 3px;
        background-color: #FBD17B;
        border-color: #FBD17B;
        margin-top: 24px;
        margin-left: 12px; }
        .layout-wrapper .layout-content .layout-error .layout-error-message-box .ui-button .ui-button-text {
          font-size: 16px;
          font-weight: 600;
          color: #b27800; }
        .layout-wrapper .layout-content .layout-error .layout-error-message-box .ui-button:hover {
          background-color: #e1bc6e; }
    .layout-wrapper .layout-content .layout-error .layout-error-detail {
      padding: 8px;
      font-size: 16px; }
  .layout-wrapper .layout-content .content-introduction {
    background-image: -moz-linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
    /* ff3.6+ */
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1b81d7), color-stop(100%, #1f4869));
    /* safari4+,chrome */
    background-image: -webkit-linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
    /* safari5.1+,chrome10+ */
    background-image: -o-linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
    /* opera 11.10+ */
    background-image: -ms-linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
    /* ie10+ */
    background-image: linear-gradient(277deg, #1b81d7 0%, #1f4869 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#1b81d7', startColorstr='#1f4869',GradientType=1 );
    /* ie6-9 */
    height: auto;
    #padding: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 32px;
    padding-left: 32px;
    color: #ffffff;
    font-size: 14px;
    text-align: bottom;
    vertical-align: bottom; }
    .layout-wrapper .layout-content .content-introduction h1 {
      font-size: 28px;
      color: #ffffff;
      margin: 0; }
    .layout-wrapper .layout-content .content-introduction p {
      font-size: 16px;
      color: #ffffff;
      font-weight: normal; }
      .layout-wrapper .layout-content .content-introduction p a {
        color: #fdd106; }
    .layout-wrapper .layout-content .content-introduction .subitem {
      font-weight: normal; }
  .layout-wrapper .layout-content .content-viewer {
    padding: 0px; }
  .layout-wrapper .layout-content .content-implementation {
    padding: 32px;
    background-color: #ffffff;
    border: solid 1px #e1e7e8; }
    .layout-wrapper .layout-content .content-implementation > h3 {
      font-weight: bold;
      margin: 14px 0;
      font-size: 18px; }
      .layout-wrapper .layout-content .content-implementation > h3:first-child {
        margin-top: 0; }
    .layout-wrapper .layout-content .content-implementation.dark-content {
      background-color: #3f3f3f;
      color: #dedede;
      border-color: #3f3f3f; }
      .layout-wrapper .layout-content .content-implementation.dark-content > h3 {
        color: #dedede; }
.layout-wrapper .layout-footer {
  background-color: #EFF3F6;
  margin-left: 0px;
  width: 100%; }
  .layout-wrapper .layout-footer .footer-left {
    text-align: left; }
  .layout-wrapper .layout-footer .footer-right {
    text-align: right; }
  .layout-wrapper .layout-footer span {
    font-size: 12px;
    line-height: 1.2;
    color: #20272a; }

@media screen and (max-width: 800px) {
  .hidden-overflow-body {
    overflow: hidden; }

  .layout-wrapper .layout-topbar {
    text-align: center; }
    .layout-wrapper .layout-topbar .layout-topbar-menu {
      background-color: #ffdb00;
      height: 58px;
      top: 0px;
      left: 0;
      width: 100%; }
      .layout-wrapper .layout-topbar .layout-topbar-menu:after {
        content: "";
        display: table;
        clear: both; }
      .layout-wrapper .layout-topbar .layout-topbar-menu li {
        float: left;
        width: 33.3%; }
        .layout-wrapper .layout-topbar .layout-topbar-menu li > a {
          padding: 0;
          text-align: center;
          white-space: nowrap;
          height: 40px;
          line-height: 40px; }
        .layout-wrapper .layout-topbar .layout-topbar-menu li .themes-overlay {
          top: 40px;
          margin-left: auto; }
  .layout-wrapper .layout-content {
    margin-left: 0;
    padding-top: 58px; }
    .layout-wrapper .layout-content .homepage .introduction {
      text-align: center; }
      .layout-wrapper .layout-content .homepage .introduction .ui-button.secondary {
        margin-top: 14px;
        display: inline-block; }
    .layout-wrapper .layout-content .homepage .support {
      text-align: center; }
    .layout-wrapper .layout-content .content-introduction {
      display: none; }
  .layout-wrapper .layout-footer {
    display: none; } }
.pi.ajax-loader {
  font-size: 4em; }

/* Themes */
.ui-theme {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto; }
