@import './_mixins';

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    overflow-x: hidden;

    a {
        text-decoration: none;
    }
}

.top-notification {
    filter:alpha(opacity=95);
    opacity:0.95;
    padding:160px 100px 0 32px;
    z-index: 2000;
    height: auto;
}

.layout-wrapper {


    .layout-topbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 58px;
        background-color: #ffdb00;
        @include shadow(0 2px 5px 0 rgba(0,0,0,.3));

        .logo-container {
            margin-left: 32px;
            margin-top: 12px;
            display: inline-block;

            img {
                width: 327px;
                height: 33px;
                border: 0 none;
            }
        }

        .layout-topbar-menu {
            padding: 0;
            list-style: none;
            position: absolute;
            right: 25px;
            top: 0;
            margin: 0;

            li {
                display: inline-block;

                > a {
                    padding: 0 28px;
                    height: 58px;
                    line-height: 58px;
                    display: block;
                    font-size: 16px;
                    color: #e30613;
                }

                .themes-overlay {
                    width:200px; 
                    max-height:0; 
                    overflow-y:auto; 
                    background-color:#ffffff; 
                    z-index:999; 
                    position: absolute; 
                    top: 58px;
                    padding: 0;
                    border-radius:2px; 
                    -moz-border-radius:2px; 
                    -webkit-border-radius:2px; 
                    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2); 
                    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2); 
                    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2); 
                    margin-left:-60px; 
                    transition-property: all;
                    transition-duration: .5s;
                    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

                    .themes-overlay-header {
                        @include gradient(277deg, #1b81d7, #1f4869);
                        color: #ffffff;
                        padding: 8px 14px;
                        font-weight: bold;
                    }

                    a {
                        display:block; 
                        padding: 8px 14px; 
                        border-bottom:solid 1px #d7dadd; 
                        text-align:left; 
                        color:#404c51; 
                        overflow:hidden;

                        img {
                            height: 24px;
                            width: auto;
                            margin-right: 7px;
                            vertical-align: middle;
                            border: 0 none;
                        }

                        .ui-theme {
                            margin-right: 7px;
                            vertical-align: middle;
                        }

                        span { 
                            display:inline-block; 
                        }

                        &:hover { 
                            background-color:#EFF3F6;
                        }

                        i {
                            font-size: 21px;
                            text-align: center;
                            vertical-align: middle;
                            width: 26px;
                            margin-right: 7px; 
                        }
                    }
                }

                &:hover {
                    background-color: #ffaf1a;
                    //background-color: #4a4f52;

                    .themes-overlay {
                        max-height:400px; 
                    } 
                }
            }
        }
    }

    .layout-content {
        margin-left: 0px;
        padding: 58px 0 0 0;

        .homepage {
            h2 {
                font-size: 1.5em;
                font-weight: normal;
                margin: 1em;
            }

            p {
                margin: 1em;
                line-height: 1.5em;
            }

            .introduction {
                background: url("\#{resource['main:images/bg-introduction.png']}");
                padding: 64px;
                background-size: cover;
                color: #ffffff;

                .introduction-header {
                    h1 {
                        font-size: 28px;
                        font-weight: 700;
                        margin: 14px 0;
                    }

                    p {
                        font-size: 24px;
                        margin: 0 0 42px 0;
                    }
                }

                .ui-button {
                    text-align: center;
                    background: none;
                    background-color: #40B6EA;
                    border: 0;
                    margin-right: 21px;
                    @include transition(background-color .2s);
                    @include border-radius(3px);
                    @include shadow(none);
                    text-shadow: none;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: normal;

                    span {
                        font-weight: normal; 
                        text-shadow: none !important;
                    }

                    .ui-button-text {
                        padding: 14px 16px 14px 48px;
                        font-size: 18px;
                        color: #22495b;
                    }

                    .ui-icon {
                        color:#22495b;
                    }

                    &:hover {
                        background-color: #3392bd;
                    }

                    &.secondary {
                        background-color: #FBD17B;
                        margin-right: 21px;
                        border-color: #FBD17B;

                        .ui-button-text {
                            color: #b27800;
                        }

                        .ui-icon {
                            color: #b27800;
                        }


                        &:hover {
                            background-color:#e1bc6e;
                        }
                    }

                    .ui-icon {
                        width: 21px;
                        height: auto;
                        font-size: 21px;
                        margin-top: -11px;
                        margin-left: 9px;
                    }
                }
            }

        }

        .layout-error {
            background: url("\#{resource['main:images/circuit.jpg']}");
            width: auto;
            height: 800px;
            background-size: cover;

            .layout-error-message-box {
                @include gradient(280deg, #1b81d7, #1f4869);
                /* TODO: Richtige Höhe finden. Original=height: 203px;*/
                height: 203px;
                padding: 8px;

                span {
                    color: #ffffff;
                    padding: 12px;
                    font-size: 16px;
                    display: block;

                    &.layout-error-name {
                        font-size: 28px;
                    }
                }

                .ui-button {
                    border-radius: 3px;
                    background-color: #FBD17B;
                    border-color: #FBD17B;
                    margin-top: 24px;
                    margin-left: 12px;

                    .ui-button-text {
                        font-size: 16px;
                        font-weight: 600;
                        color: #b27800;                        
                    }

                    &:hover {
                        background-color:#e1bc6e;
                    }
                }
            }

            .layout-error-detail {
                padding: 8px;
                font-size: 16px;
            }
        }

        .content-introduction {
            @include gradient(277deg, #1b81d7, #1f4869);
            height: auto;
            #padding: 32px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-right: 32px;
            padding-left: 32px;
            color: #ffffff;
            font-size:14px;
            text-align: bottom;
            vertical-align: bottom;

            h1 {
                font-size: 28px;
                color: #ffffff;
                margin: 0;
            }

            p {
                font-size: 16px;
                color: #ffffff;
                font-weight: normal;

                a {
                    color: #fdd106;
                }
            }

            .subitem {
                font-weight: normal;
            }
        }

        .content-viewer {
            padding: 0px;
        }

        .content-implementation {
            padding: 32px;
            background-color: #ffffff;
            //border: solid 1px #e1e7e8;

            > h3 {
                font-weight: bold;
                margin: 14px 0;
                font-size: 18px;

                &:first-child {
                    margin-top: 0;
                }
            }

            &.dark-content {
                background-color: #3f3f3f;
                color: #dedede;
                border-color: #3f3f3f;

                > h3 {
                    color: #dedede;
                }
            }
        }
    }

    .layout-footer {
        background-color: #EFF3F6;
        margin-left: 0px;
        width: 100%;

        .footer-left {
            text-align: left;
        }

        .footer-right {
            text-align: right;
        }

        span {
            font-size: 12px;
            line-height: 1.2;
            color: #20272a;
        }
    }
}

@media screen and (max-width: 800px) {
    .hidden-overflow-body {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-topbar {
            text-align: center;

            .layout-topbar-menu {
                background-color: #ffdb00;
                height: 58px;
                top: 0px;
                left: 0;
                width: 100%;  
                @include clearfix();

                li {
                    float: left;
                    width: 33.3%;

                    > a {
                        padding: 0;
                        text-align: center;
                        white-space: nowrap;
                        height: 40px;
                        line-height: 40px;
                    }

                    .themes-overlay {
                        top: 40px;
                        margin-left: auto;
                    }
                }
            }
        }

        .layout-content {
            margin-left: 0;
            padding-top: 58px;

            .homepage {
                .introduction {
                    text-align: center;

                    .ui-button.secondary {
                        margin-top: 14px;
                        display: inline-block;
                    }
                }

                .support {
                    text-align: center;
                }
            }

            .content-introduction {
                display: none;
            }

        }

        .layout-footer {
            display: none;
        }

    }
}

.pi.ajax-loader {
    font-size: 4em;
}

/* Themes */
.ui-theme {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
}
